@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500&display=swap');
body{
  font-family: 'Noto Sans Thai', sans-serif;
  
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
body *{
  box-sizing: border-box;
}


button{
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  font-family: inherit;
}
p{
  margin: 0;
}
.font-title{
  font-size: 20px;
  font-weight: 400;
}
.font-small{
  font-size: 14px;
}
.header {
  background: #ffffff;
  box-shadow: 2px 2px #ddd;
  padding: 20px;
  position: relative;
}
#btnClose,
#btnback{
  font-size: 20px;
}
#btnClose{
  pointer-events: none;
  color: #ddd;
}
#btnback.disabled{
  pointer-events: none;
  color: #ddd;
}
.content {
  background: #ffffff;
  padding: 20px;
  position: relative;
  
}
.box-shadow{
  height: 10px;
  background: #f1f1f1;
}
.required{
  color: red;
  padding-left: 5px;
}

.form-control{
  font-family: inherit;
   display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: inset 0 0 0 2px #00b902;
}

input:disabled{
  background-color: #f1f1f1;
  color: #9e9e9e;
}
button:disabled,button:disabled:hover{
  background-color: #dddddd;
  color: #9e9e9e;
  pointer-events: none;
}

textarea{
  max-width: 100%;
}
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px 0.75rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group{
  max-width: 380px;;
}
.form-label{
  margin-bottom: 10px;
  display: block;
}
.hr{
  background-color: #f1f1f1;
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}
.btn-main{
  width: 100%;
}
.btn-green{
  background-color: #00b902;
  color:#fff;
}
.btn-green:hover,
.btn-green:active{
  background-color: #05bf03;
}
.btn-blue{
  background-color: #fff;
  border: #246bfd 1px solid  ;
  color:#246bfd ;
}

#ticket_info{
  margin-top: 10px;
  display: none;
}
#btn_upload_img{
}
.info{
  margin-top: 20px;
}
.upload-img-block-input{
  position: relative;
  margin-top: 20px;
}

.upload-img-block #upimgGallery{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
    height: 100%;
    width: 100%;
}
#ticketimg{
  border-top:1px solid #f1f1f1;
  margin-top: 20px;
  padding-top: 20px;
}
#ticketimg:empty{
  border: 0;
  margin: 0;
  padding: 0;
}
.ticketimg_item {
  font-size: 14px;
}
.lbl-error{
  color: red;
  font-size: 12px;
  display: none;
}


/*-------Loading---------*/
@keyframes ldio-ut6coayxxza {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}
#loading{
  display: none;
}
.ldio-ut6coayxxza div {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 60px;
  animation: ldio-ut6coayxxza 1s cubic-bezier(0.5,0,0.5,1) infinite;
}.ldio-ut6coayxxza div:nth-child(1) {
  transform: translate(30px,0);
  background: #72747f;
  animation-delay: -0.6s;
}.ldio-ut6coayxxza div:nth-child(2) {
  transform: translate(70px,0);
  background: #a2a2a2;
  animation-delay: -0.4s;
}.ldio-ut6coayxxza div:nth-child(3) {
  transform: translate(110px,0);
  background: #ffffff;
  animation-delay: -0.2s;
}.ldio-ut6coayxxza div:nth-child(4) {
  transform: translate(150px,0);
  background: #f9ae5c;
  animation-delay: -1s;
}
.loadingio-spinner-bars-ji6zqk06ekj {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
  position: absolute;
  top:0;
  left: 0;
}
.ldio-ut6coayxxza {
  width: 170px;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* text-align: center; */
  margin: auto;
  left: -30px;
}
.ldio-ut6coayxxza div { box-sizing: content-box; }
/* generated by https://loading.io/ */
